<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-itunes-app" content="app-id=1533228338">

  <meta name="smartbanner:title" content="Turbo Weather">
  <meta name="smartbanner:author" content="real-time local weather forecast">
  <meta name="smartbanner:price" content="FREE">
  <meta name="smartbanner:price-suffix-google" content=" - In Google Play">
  <meta name="smartbanner:icon-google" content="https://play-lh.googleusercontent.com/LCsAwOZwdfGIApet7BCr-cfQUhxHZ25E8fOTAPjQrypjSpk2UU7Isb7fTiUchCWCJGCd=s360">
  <meta name="smartbanner:button" content="VIEW">
  <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=com.turbotools.weather">
  <meta name="smartbanner:enabled-platforms" content="android">
  <meta name="smartbanner:close-label" content="Close">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  
  <link rel="stylesheet" href="/js/smartbanner/smartbanner.min.css">
  <script src="/js/smartbanner/smartbanner.min.js"></script>
  
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "assets/css/global.css" %}</style>
  {% include "partials/global/html-head.njk" %}
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}
  <script type="module" src="/js/components/theme-toggle.js" async defer></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async defer></script>
  
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f170cc656eed19a"></script>

  
</body>
</html>
